/* Universal Selector - general page styling applicable to all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* background color for body of webpage */
body {
    background-color: #d9dcd6;
}

/* header styling */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

/* heading styling for h1-h3 */
h1 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* navigation styling */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/* end navigation styling */

/* font-size for all paragraph content */
p {
    font-size: 16px;
}

/* aside styling */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* text color for "seo" characters in header */
#seo {
    color: #d9dcd6;
}

/* background image for 1st article element */
#bkgrnd-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* 2nd article styling */
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* 2nd artcle sections styling */
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

.services img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* end article sections styling */

/* aside sections styling */
.benefit-sub {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-sub img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* end aside sections styling */

/* footer styling */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}