/* Universal Selector - general page styling applicable to all elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* background color for body of webpage */
body {
    background-color: #d9dcd6;
}

/* header styling - set header background & text color, width, padding & display type */
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
    display: inline-block;
    width: 100%;
}

/* heading styling for h1-h3 - set display type, font size & font-family for heading tags */
h1 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* navigation styling - make nav links display to the right with appropriate spacing */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    clear: both;
    font-size: 20px;
}

/* nav styling - list items do not display with bullet points and have appropriate spacing */
li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
}

/* nav styling - change link text color and remove underline from links */
a {
    color: #ffffff;
    text-decoration: none;
}
/* end navigation styling */

/* specifies font-size for all paragraph content */
p {
    font-size: 16px;
}

/* aside styling - set container position, size & spacing, specify background color */
aside {
    margin-right: 20px;
    padding: 20px;
    float: right;
    clear: both;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

/* text color for "seo" characters in header */
#seo {
    color: #d9dcd6;
}

/* background image for 1st article element */
#bkgrnd-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* 2nd article styling - set width, display type, margin */
#content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* 2nd article sections styling - size, spacing and background color */
.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

/* set image heigh within content sections */
.services img {
    max-height: 200px;
}

/* image positioning within content sections */
.float-left {
    float: left;
    margin-right: 25px;
}
.float-right {
    float: right;
    margin-left: 25px;
}
/* end article sections styling */

/* aside sections styling - set spacing and text color */
.benefit-sub {
    margin-bottom: 32px;
    color: #ffffff;
}

/* set aside images size and spacing */
.benefit-sub img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* end aside sections styling */

/* footer styling - set position in regard to floating elements, font style, size and alignment */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}